@import '../../scss/mixins.scss';

.CardContainer{
    @include block(90%);
    flex-direction: column;
    .block_adding-cards{
        @include row();
        @include center();
        .for_inputs{
            width: 50%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .input_adding-cards{
                @include input(90%);
                cursor: text;
                margin-bottom: 10px;
            }
        }
        .btn_adding-cards{
            @include button(20%);
            margin-left: 50px;
        }
    }
    .block_cards{
        margin-top: 30px;
        flex-wrap: wrap;
        @include center();
    }
}