@import '../../scss/mixins.scss';

.Main{
    @include block(auto);
    min-height: 100vh;
    display: block;
    padding: 100px;
    padding-top: 0px;
    position: relative;
    &__logout{
        @include button(100px);
        position: absolute;
        top: 40px;
        right: 40px;
    }
}