@import '../../scss/mixins.scss';

.Card {
    min-height: 160px;
    max-width: 252px;
    height: auto;
    width: auto;
    padding: 3px;
    border-radius: 5px;
    background-color: #3F3D56;
    margin: 10px 10px;
    padding: 20px;

    h3 {
        @include text(17px, white, 500);
    }

    p {
        @include text (14px, white, 500)
    }


}