@import '../../scss/mixins.scss';
.Header{
    @include center();
    height: 70px;
    margin-bottom: 40px;
    padding-top: 20px;
}
h1{
    @include text(45px, #fff, 700);
    span{
        color: #F5A006;
    }
}