@import '../../scss/mixins.scss';


.login{
    @include block(100vh);
    &__container{
        height:100vh;
        width: 100%;
        @include center();
        flex-direction: column;
        gap: 50px;
    }
    &__heading{
        h1{
            @include text(45px, #fff, 700);
            span{
                color: #F5A006
            }
        }
        @media screen and (max-width:1280px){
            h1{
                font-size: 33px;
            }
        }
    }
    &__form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        button{
            @include button(300px);
        }
        input{
            @include input(300px);
        }
    }
}
